.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-container2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-logohumalt {
  width: 230px;
  height: 98px;
}
 
.home-column1 {
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-navlinks {
  gap: 32px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  justify-content: flex-end;
}
 

 
.home-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  transition: 0.3s;
  line-height: 150%;
  text-decoration: none;
}
 
.home-text10:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
}
 
.home-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  transition: 0.3s;
  line-height: 150%;
  text-decoration: none;
}
 
.home-text11:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
}
 
.home-actions1 {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-button1 {
  gap: 8px;
  display: flex;
  padding: 8px 20px;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(91, 101, 207, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(91, 101, 207, 1);
}
 
.home-text12 {
  color: rgba(235, 232, 229, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.home-hero {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px 64px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.home-row1 {
  width: 1312px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(51, 23, 79, 1);
}
 
.home-imagem {
  gap: 10px;
  width: 656px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-humheroimage {
  width: 656px;
  height: 640px;
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-conteudo {
  gap: 32px;
  display: flex;
  padding: 48px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-texto {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text13 {
  color: rgb(235, 232, 229);
  height: auto;
  font-size: 56px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 105%, 120%;
  animation-name: fadeInUp;
  letter-spacing: 0em;
  text-transform: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
 
.home-text16 {
  line-height: 120%;
}
 
.home-text17 {
  color: rgba(235, 232, 229, 1);
  height: auto;
  max-width: 90%;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
 
.home-actions2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.home-button2 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  transition: 0.3s;
  align-items: center;
  border-color: rgba(235, 232, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(235, 232, 229, 1);
}
 
.home-button2:hover {
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.home-text18 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.home-intro {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-theme-primary2);
}
 
.home-container3 {
  height: 600px;
  display: flex;
  flex-grow: 1;
  max-width: 1440px;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-column2 {
  gap: 32px;
  display: flex;
  padding: 0 80px 0 64px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeInUp;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
 
.home-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text19 {
  color: rgba(235, 232, 229, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.home-text20 {
  color: rgba(235, 232, 229, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.home-actions3 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.home-button3 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(235, 232, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(235, 232, 229, 1);
}
 
.home-text21 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.home-iconrightarrowalt {
  width: 24px;
  height: 24px;
}
 
.home-introimage2 {
  gap: 10px;
  height: 600px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(91, 101, 207, 1);
}
 
.home-introimage1 {
  width: 720px;
  height: 600px;
}
 
.home-solues {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 112px 64px;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(231, 231, 231, 1);
}
 
.home-section-title {
  gap: 80px;
  display: flex;
  max-width: 1440px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-start;
}
 
.home-column3 {
  gap: 16px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text22 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: "Raleway";
  font-weight: 300px;
  line-height: 105%;
  letter-spacing: 0em;
}
 
.home-row2 {
  gap: 48px;
  display: grid;
  max-width: 1440px;
  align-self: center;
  flex-shrink: 0;
  grid-template-columns: 1fr 1fr 1fr;
}
 
.home-column4 {
  gap: 32px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-fazendasolar {
  width: 316px;
  height: 179px;
}
 
.home-content2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text23 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 129.99999523162842%;
}
 
.home-text24 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.home-column5 {
  gap: 32px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-geracaolocal {
  width: 325px;
  height: 179px;
}
 
.home-content3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text25 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 129.99999523162842%;
}
 
.home-text26 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.home-column6 {
  gap: 32px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-energiaintegrada {
  width: 325px;
  height: 176px;
}
 
.home-content4 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text27 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 129.99999523162842%;
}
 
.home-text28 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.home-cta-hum {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 112px 64px;
  overflow: hidden;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(51, 23, 79, 1);
}
 
.home-container4 {
  gap: 80px;
  display: flex;
  max-width: 1440px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-column7 {
  gap: 24px;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text29 {
  color: rgba(235, 232, 229, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.home-column8 {
  gap: 32px;
  width: 467px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text30 {
  color: rgba(235, 232, 229, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.home-actions4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
 
.home-button4 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-secondary2);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary2);
}
 
.home-button4:hover {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  background-color: var(--dl-color-theme-primary2);
}
 
.home-text31 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  text-align: left;
  transition: 0.3s;
  line-height: 150%;
}
 
.home-text31:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
}
 
.home-icon-whatsapp {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
 

 
.home-button5 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-secondary2);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(235, 232, 229, 0);
}
 
.home-button5:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-text32 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.home-introimage3 {
  left: 480px;
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-image {
  width: 358px;
  height: 228px;
  object-fit: cover;
}
 
.home-rodape {
  gap: 40px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 40px 64px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.home-container5 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-links {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-column9 {
  width: 1312px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-logo-hum1 {
  width: 192px;
  height: 83px;
}
 
.home-credits1 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container6 {
  width: 100%;
  height: 1px;
  border-color: #c6c5c5;
  border-width: 1px;
}
 
.home-container7 {
  display: contents;
}
 
.home-row3 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.home-credits2 {
  gap: 24px;
  display: flex;
  align-items: center;
}
 
.home-text33 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.home-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.home-text34 {
  color: rgba(51, 23, 79, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
  font-stretch: normal;
}
 
.home-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.home-link1 {
  display: contents;
}
 
.home-whatsapp {
  width: 24px;
  height: 25px;
  text-decoration: none;
}
 
.home-link2 {
  display: contents;
}
 
.home-instagram {
  width: 24px;
  height: 25px;
  text-decoration: none;
}
 
.home-link3 {
  display: contents;
}
 
.home-linked-in {
  width: 24px;
  height: 25px;
  text-decoration: none;
}
 
@media(max-width: 1440px) {
  .home-text14 {
    line-height: 105%;
  }
  .home-text15 {
    line-height: 120%;
  }
  .home-text16 {
    line-height: 120%;
  }
  .home-intro {
    padding-top: 0px;
  }
  .home-introimage3 {
    left: 380px;
  }
}
 
@media(max-width: 991px) {
  .home-row1 {
    width: 100%;
  }
  .home-imagem {
    width: auto;
  }
  .home-humheroimage {
    width: 394px;
    height: 384px;
  }
  .home-text14 {
    line-height: 105%;
  }
  .home-text15 {
    line-height: 120%;
  }
  .home-text16 {
    line-height: 120%;
  }
  .home-introimage1 {
    width: 495px;
    height: 412px;
  }
  .home-container4 {
    flex-direction: column;
  }
  .home-introimage3 {
    left: -150px;
    right: 0px;
    width: 376px;
    bottom: 0px;
    position: absolute;
  }
}
 
@media(max-width: 767px) {
  .home-humheroimage {
    width: 237px;
    height: 230px;
  }
  .home-text14 {
    line-height: 105%;
  }
  .home-text15 {
    line-height: 120%;
  }
  .home-text16 {
    line-height: 120%;
  }
  .home-introimage1 {
    width: 267px;
    height: 222px;
  }
  .home-solues {
    padding-top: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-row2 {
    grid-template-columns: 1fr;
  }
}
 
@media(max-width: 479px) {
  .home-container2 {
    align-self: center;
  }
  .home-navlinks {
    display: none;
  }
  .home-text10 {
    display: none;
  }
  .home-actions1 {
    width: 100%;
    display: none;
  }
  .home-hero {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-row1 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: column;
  }
  .home-imagem {
    width: auto;
  }
  .home-humheroimage {
    width: 369px;
    height: 360px;
  }
  .home-conteudo {
    width: 100%;
    padding: 0px;
    margin-right: 0px;
  }
  .home-text14 {
    line-height: 105%;
  }
  .home-text15 {
    line-height: 120%;
  }
  .home-text16 {
    line-height: 120%;
  }
  .home-intro {
    gap: 0;
    height: auto;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: 0px;
  }
  .home-container3 {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .home-column2 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-text20 {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
  }
  .home-introimage2 {
    height: auto;
    padding-top: 0px;
  }
  .home-introimage1 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-layout-space-halfunit);
  }
  .home-solues {
    gap: var(--dl-layout-space-fourunits);
    padding: var(--dl-layout-space-threeunits);
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-text22 {
    width: 100%;
    font-size: 44px;
  }
  .home-row2 {
    grid-template-columns: 1fr;
  }
  .home-cta-hum {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-container4 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-column8 {
    width: auto;
  }
  .home-actions4 {
    gap: var(--dl-layout-space-twounits);
    align-self: stretch;
    flex-direction: column;
  }
  .home-button4 {
    height: 33px;
    overflow: visible;
    align-self: stretch;
  }
  .home-button5 {
    height: 33px;
    overflow: visible;
    align-self: stretch;
  }
  .home-introimage3 {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-image {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .home-rodape {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-container5 {
    gap: var(--dl-layout-space-unit);
  }
  .home-column9 {
    width: auto;
  }
  .home-row3 {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-credits2 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-social-links {
    gap: var(--dl-layout-space-threeunits);
  }
}
